h2, h3, p {
	color: #252525 !important;
}

p.subheading {
	color: #F4F4F4 !important;
	font-weight: 200 !important;
}

p {
	text-transform: none !important;
}

html{
	background-image: url("");
	background-color: #252525;
}

.button.special {
	margin-top: 20%;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
	background-color: #c8e9d5 !important;
}
	
.button.special:hover {
	background-color: #c8e9d5;		
}
		
.main .goto-next {
	background-color: #8cd1a8;
}		

.main .goto-next:hover {
	background-color: #c8e9d5;
}

div.container {
	width: 60%;
}

.main .container .content {
	width: 90%;
}

.image:before {
			background: url("");
		}
img.illustration {
	width: 50%;
	height: auto;
}
		
.image.fit {
	background-color: none;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

.image.fit img {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
			
#gamecontainer {
	height: 1000px;
}