h2, h3, p {
	color: #252525 !important;
}

p.subheading {
	color: #F4F4F4 !important;
	font-weight: 200 !important;
}

p {
	text-transform: none !important;
}

html{
	background-image: url("");
	background-color: #252525;
}

.button.special {
			margin-top: 20%;
			background-color: #F4F4F4;
			color: #252525 !important;
		}
		
.button.special:hover {
			background-color: #999999;
		}
		
.main .goto-next {
			background-color: #252525;
		}		

.main .goto-next:hover {
				background-color: #999999;
			}
div.container {
	width: 60%;
}

.main .container .content {
	width: 90%;
}

/*
@media screen and (max-width: 1680px) {
	.container {
	width: 30em;
	}
}

@media screen and (max-width: 980px) {
	.container {
	width: 30em;
	}
}

@media screen and (max-width: 736px) {
.container {
	width: 30em;
	}
}

@media screen and (max-width: 480px) {
	.container {
	width: 30em;
	}
}	
*/	
			
#gamecontainer {
	height: 1000px;
}